.full-table {
	width: 80;
	margin: auto;
	margin-top: 3em;
	position: absolute;
}

.area-header {
	background-color: #8fbaff;
}

.periods {
	margin-left: 0.8em;
	margin-top: 1em;
	margin-right: 0.8em;
}

.accordion {
	overflow-anchor: none;
}

div {
	display: block;
}