.filterBox {
  width: 29.7em;
  height: 15em;
  background-color: #bebebe;
  border-style: solid;
  border-width: 0.1em;
  margin: 1em;
  display: inline-block;
  vertical-align: middle;
}

.filterButton {
  display: block;
  width: 100%;
}

h3 {
  margin: 0.3em;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
