.filterBox {
  width: 29em;
  height: 16em;
  background-color: #bebebe;
  border-style: solid;
  border-width: 0.1em;
  margin: 1em;
  display: inline-block;
}

.filterBoxes {
  width: 80%;
  margin: auto;
  padding-top: 1em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.areaFilterButton {
  display: block;
  width: 100%;
}

.btn-group-vertical {
  border-style: solid;
  border-width: 0.1em;
  width: 26em;
  height: 11em;
  overflow: auto;
  margin: auto;
}

.list-group {
  border-style: solid;
  border-width: 0.1em;
  width: 26em;
  height: 11em;
  overflow: auto;
}

h3 {
  margin: 0.3em;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
